venv/
AuthMicroservice/__pycache__/
AuthMicroservice/model/__pycache__/
AuthMicroservice/services/__pycache__/
AuthMicroservice/db_config
UserMicroservice/__pycache__/
UserMicroservice/model/__pycache__/
UserMicroservice/model/__pycache__/
UserMicroservice/db_config
.gitignore/


